
<div class="topnav">
<a href="/account">Accounts for Sale</a>
   <a href="/clan">Clans for Sale</a>
   <a href="/account/{{account._id}}/edit">Edit Account</a>
<a href="/account/payment/{{account._id}}">Purchase Account</a>
</div>
<center>
<body id="bimg2"></body>

<h1>Account Details</h1>


<img class="sketchy" src="{{account.img}}"style="width: 600px">
<br>
{{!-- User: {{account.user._id}} --}}
<br>
<h1>{{account.description}}</h1>
<h2>Level: {{account.level}}</h2>
<h2>Gems: {{account.gems}} // Sceneries: {{account.sceneries}}</h2>

<h2>Builderhall: {{account.builderhall}} // Skins: {{account.skins}}</h2>
<br>
 <form action="/account/delete/{{account._id}}" method="POST">
<button>Delete Account Post</button>
</form>
<br>
<br>
<br>

<br>

<br>
</center>