<body id="bimg2"></body>

<h1>Edit Account Info</h1>

<form action="/account/{{theAccount._id}}/update" method="POST">

<div>
    <br>Descrption:<br>
    <input type="text" name="accountDescription" value="{{theAccount.description}}">
</div>

<div>
    <br>Price:<br>
    <input type="text" name="accountPrice" value="{{theAccount.price}}">
</div>

<div>
    <br>Townhall:<br>
    <input type="text" name="accountTownhall" value="{{theAccount.townhall}}">
</div>

<div>
    <br>Gems:<br>
    <input type="text" name="accountGems" value="{{theAccount.gems}}">
</div>

<div>
    <br>Sceneries:<br>
    <input type="text" name="accountSceneries" value="{{theAccount.sceneries}}">
</div>

<div>
    <br>Level:<br>
    <input type="text" name="accountLevel" value="{{theAccount.level}}">
</div>

<div>
    <br>Builderhall:<br>
    <input type="text" name="accountBuilderhall" value="{{theAccount.builderhall}}">
</div>

<div>
    <br>Skins:<br>
    <input type="text" name="accountSkins" value="{{theAccount.skins}}">
</div>

<div>
    <br>Max:<br>
     <input id="max" type="radio" value=true name="accountMax">
    <label for="max">Yes</label>
    <input id="not-max" type="radio" value=false name="accountMax">
    <label for="not-max">No</label>
</div>

<div>
    <br>Images:<br>
    <input type="text" name="img" value="{{theAccount.img}}">
</div>

<button>Update Account</button>

</form>