<div class="topnav">
<a href="/account">Accounts for Sale</a>
   <a href="/clan">Clans for Sale</a>
   <a href="/clan/{{clan._id}}/edit">Edit Clan</a>
<a href="/clan/payment/{{clan._id}}">Purchase Clan</a>
</div>
<center>
<body id="bimg2"></body>

<h1>Clan Details</h1>

<img class="sketchy" src="{{clan.img}}"style="width: 600px">
<br>
{{!-- User: {{account.user.username}} --}}
<br>
<br>
<h1>Name: {{clan.name}} // Level: {{clan.level}}</h2>
<br>
<h2>League: {{clan.league}} // Warlog: {{clan.warlog}}</h2>
<br>
<h2></h2>
<br>
<form action="/clan/delete/{{clan._id}}" method="POST">
<button>Delete Clan Post</button>
</form>
<br>
<br>
</center>